<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Vivek Soundrapandi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="vivek, soundrapandi, vivek soundrapandi, vivek.s, vivek s, global analytics, psg tech, psg, python">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- Fallback for NoScript -->
    <noscript>
    &lt;style type="text/css"&gt;
     body {
        display: block;
     }
    &lt;/style&gt;
    </noscript>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/img/favicon.ico">
 </head>

  <body style="display: block;" cz-shortcut-listen="true">
        <section class="container">

            <!-- Header -->
            <header class="row-fluid">
                <div class="title span7">
                    <img src="/static/img/profile-pic.jpg" title="That`s me!" alt="My Profile">
                    <h1>Vivek Soundrapandi</h1>
                    <h2>Sr. Software Engineer</h2>
                    <h5><b>Current Year Goal: Learn Go and build a web App</b></h5>
                </div>
                <div class="social offset1 span4">
                    <ul>
                        <li><i class="icon-home"></i> 2-A, Ananda Nagar</li>
                        <li>Anaiyur Post, Madurai-625017</li>
                        <li><i class="icon-envelope-alt"></i>vivekhas3@gmail.com</li>
<!--                        <li><i class="icon-phone"></i> +91 9976937373</li> -->
                        <li><a href="https://twitter.com/vvivekss"><i class="icon-twitter"></i></a>
                        <a href="https://www.facebook.com/vivekhas3"><i class="icon-facebook"></i></a>
                        <a href="https://in.linkedin.com/in/viveksoundrapandi"><i class="icon-linkedin"></i></a>
                        <a href="https://github.com/vivekhas3"><i class="icon-github"></i></a></li>
                    </ul>
                    <p style="margin-top: 10px;"> <a href="/blog">Checkout my Blog</a></p>
                </div>
            </header>

            <!-- Welcome Text -->
            <article class="row-fluid">
                <header class="span3">
                    <h3>Hello!</h3>
                </header>
                <div class="span9 ">
                    <p class="welcome">"I am a bright, continually self-educating developer with 5+ years experience in building high performing websites, APIs and software products" <br>
                </div>
            </article>

            <!-- Skills -->
            <article class="row-fluid">
                <header class="span3">
                    <h3>Skills</h3>
                </header>
                <div class="span9">
                    <div class="row-fluid skills">
                        <ul class="span6">
                            <li><h4>Programming</h4></li>
                            <li><strong>Python 2.7</strong></li>
                            <li><strong>MySQL</strong></li>
                            <li><strong>javascript</strong></li>
                            <li><strong>HTML</strong></li>
                            <li><strong>CSS</strong></li>

                        </ul>
                        <ul class="span6">
                            <li><h4>Frameworks/APIs</h4></li>
                            <li><strong>Django</strong></li>
                            <li><strong>Flask</strong></li>
                            <li><strong>jQuery</strong></li>
                            <li><strong>Bootstrap</strong></li>
                            <li><strong>Celery</strong></li>
                            <li><strong>Rabbitmq</strong></li>
                            <li><strong>New Relic</strong></li>
                        </ul>
                    </div>
                </div>
            </article>
            <!-- Work -->
            <article class="row-fluid">
                <header class="span3">
                    <h3>Work Experience</h3>
                </header>
                <div class="span9">
                    <h4>Sr. Technical Lead – Global Analytics:</h4>
                    <h5>April 2016-Present</h5>
                    <h6>Projects: Drafty, Daily Interst loans, LS2.0</h6>
                    <p> •    Working on all 3 layers of web programming from customer facing front end website, supporting backend middleware APIs , database design, offline data computations, Infra structure management</p>
                    <p> •    Playing the role of a team member and tech lead in a 7 member agile team</p>
                    <p> •    I play key role in back log grooming by analysing business user stories/bugs/tasks/experiments creating evolving design, working POCS, and measuring impact</p>
                    <p> •    I play the role of technical lead to help resolve technical impediments for the team during the design/dev phase of the sprint</p>
                    <p> •    Continously finding improvements in automating the test suite reducing manual testing tasks as minimal as possible</p>
                    <p> •    Reviewing code via pair-programming to ensure coding standards, design-implementation sync, coverage, scalability, performance and security</p>
                    <p> •    Optimizing production environments at server level by efficient infrastructure management, API level via better design , and frontend optimizations to reduce page load time</p>

                    <h4>Technical Lead – Global Analytics:</h4>
                    <h5>April 2014-March 2016</h5>
                    <h6>Projects: LOC, Daily Interst loans, LS2.0</h6>

                    <p> •   Interact closely with the business and product management team to gather the detailed requirement from them and prepare a functional design document listing down the components involved and their high level architecture.</p>
                    <p> •   Working closely with the Architects and other team leaders to create a detailed technical design document with clear picture of point of interaction of components, their behavior, the way they communicate and the test cases.</p>
                    <p> •    Technical design phase includes creating Usecase diagrams to understand the various use cases, Sequence diagrams to describe the interaction points and order, Class diagram listing the classes their attributes and methods.</p>
                    <p> •    Getting the design documents signed off by technical directors and VP after detailed reviews.</p>
                    <p> •    Go into the development process converting the designs into workable applications. Assigning the tasks to a team of 4-7 members, estimating the scope of work and ensuring timely delivery of items along with development.</p>
                    <p> •    Achieve maximum code coverage using static code coverage analysis tools and ensuring coding standards using static language specific linter tools.</p>
                    <p> •    Integration test the whole application by interacting with other teams to ensure a workable, bug free product.</p>
                    <p> •    Ensure continuous integration and timely go live into production.</p>

                    <h4>Sr. Software Engineer – Global Analytics:</h4>
                    <h5>June 2013-April 2014</h5>
                    <h6>Projects: LOC, Daily Interst loans, Anyfunds, Zebit</h6>
                    <p> •   Develop high performance and user friendly websites right from front end design using HTML/CSS/Bootstrap, front-end development using jQuery library to back-end development using python with Django framework</p>
                    <p> •   Analyze code performance using server monitoring tools like New Relic to identify code areas that act as performance blockers, identify items that can be processed asynchronously using celery/RabbitMQ, identify items that could be moved to offline processing.</p>
                    <p>•    Identify data fetched from external services and store/remove them in/from memcache based on the business needs thereby bringing down the external calls.</p>
                    <p>•    Optimizing client side via automating code minification, obfuscation, image compression during deployment to bring down the webpage load time.</p>
                    <p>•    Identify 3rd party tracking codes like Clicktale, DoubleClick and defer load them via JavaScript to increase the page performance in mobile devices.</p>
                    <p>•    Analyze the designs and create a master CSS style guide covering all components used across the website. This ensures multiple people can work on HTML development in parallel with ease and minimal CSS work thereby avoiding messy CSS structuring.</p>
                    <p>•    Build responsive mobile first websites and test them across a wide range of devices from mobile to large screen monitors to ensure it works seamlessly across devices/browsers.</p>
                    <p>•    Writing scripts to monitor the website user flow and generate reports/alarms based on the bounce rate, error %, conversion rates, field wise error rate, average time taken for key URLS etc. </p>
                    <p>•    Assist product team in running A/B tests on various pages and generating reports on the user interaction on these pages to decide on the champion pages.</p>
                    <p>•    Meet clients/ UX/ product owners (US) to gather requirements, build prototypes, functional & technical documents, and commit timeline.</p>
                    <p>•    Manage project tasks along with training and leading 3-4 sub-ordinates.</p>
                    <p>•    Responsible for controlling project flow and ensure timely delivery of quality products</p>

                    <h4>Software Developer – Global Analytics:</h4>
                    <h5>May 2011 – June 2013</h5>
                    <h6>Projects: Lendingstream, Cricket, PRA</h6>
                    <p>•    Developed various websites in python using django framework.</p>
                    <p>•    Worked on front end scripting using jQuery.</p>
                    <p>•    Worked on building website templates from wireframes using HTML, CSS using the Bootstrap 3.0 framework.</p>
                    <p>•    Worked on various website features like integrating with Facebook application, YouTube player, server-server communication, and Google analytics.</p>
                    <p>•    Closely worked with senior members of the team and learnt advanced technical and project management skills.</p>
                    <h4>Software Intern – Global Analytics:</h4>
                    <h5>December 2010 – April 2011</h5>
                    <h6>Projects: Internal Project management tool.</h6>
                    <p>•    Developed an Online Release management and bug tracking tool focused to serve waterfall based software development life cycle within the organization.</p>
                </div>
            </article>
            <!-- Products Worked -->
            <article class="row-fluid">
                <header class="span3">
                    <h3>Products and Applications</h3>
                </header>
                <div class="span9">
                  <h4>Lendingstream </h4>
                  <p>Online lending platform serving 1000s of customers per day. High traffic web application with 100s of requests per second</p>
                  <h4>LS 2.0 </h4>
                  <p>A complete re-build of lendingstream with a full re-design with performance, scalability and security being the key goal</p>
                  <h4>LOC </h4>
                  <p>A continual credit platform similar to credit card but completely virtual with full online account managment</p>
                  <h4>Lendingstream - Operations</h4>
                  <p>A complete loan management platform for managing the data and supporting the customer care agents to get the data they desire and perform a variety of backend opearations at quick time</p>
                  <h4>Cricket </h4>
                  <p>US based mobile selling platform with support for spot credit and instantaneous approval</p>
                  <h4>Zebit </h4>
                  <p>Online product store and merchant platform to add credit support to any existing online platform</p>
                  <h4>PRA </h4>
                  <p>A software product for a US based hospital network to support credit payments for those in emergency with instantaneous approval</p>

                </div>
            </article>
            <!-- Education -->
            <article class="row-fluid">
                <header class="span3">
                    <h3>Education</h3>
                </header>
                <div class="span9">
                    <h4>University</h4>
                    <h5>2007-2011</h5>
                    <p>Graduated from PSG college of Technology, coimbatore with 9.22 CGPA.</p>
                    <h4>High School</h4>
                    <h5>2005-2007</h5>
                    <p>94.58% in TN state board examinations</p>

                </div>
            </article>



            <!-- Interests -->
            <article class="row-fluid">
                <header class="span3">
                    <h3>Personal Projects</h3>
                </header>
                <div class="span9">
                    <h4><a href="http://www.pyquiz.com/" >PyQuiz</a> – http://www.pyquiz.com/ </h4>
                    <h6>Skill set used: Python, Django, MySQL, HTML, CSS (Bootstrap 3.0), jQuery</h6>
                    <p>This is a time based quiz application on python inspired from quizzup. This website is built during my free time and has loads of interesting features. The website is currently hosted in openshift. This is my personal project and I am the sole developer. The source code is open sourced and available in Github.</p>
                    <h4><a href="https://downloadlabums.appspot.com/aldown/">Facebook Album Downloader</a> – https://downloadlabums.appspot.com/aldown/</h4>
                    <h6>Skill set used: python, django, nosql, html, css, jquery, twitter-bootstrap-3, google-app-engine, facebook-graph-api</h6>
                    <p>This free service can be used to quickly view & download the albums that you were tagged by your Facebook friends. This small web application lets you download Facebook albums in minutes. I am the sole developer of this application and is developer of my own interest during free time. Currently it is hosted in google app engine. I have also developed the addons in firefox and chrome for this web application. The source code is open sourced and available in Github.</p>
                    <h4><a href="https://github.com/vivekhas3/chrome-twishare">Twishare</a> -  https://github.com/vivekhas3/chrome-twishare</h4>
                    <p>A Chrome/ Firefox extension that allows one to easily share twitter tweets to their Facebook wall.</p>
                    <h4><a href="https://github.com/vivekhas3/bootstrap-validator">bootstrap-validator</a> -  https://github.com/vivekhas3/bootstrap-validator</h4>
                    <p>A customizable Ajax based for validation plugin for bootstrap style html templates.</p>
                    <h4><a href="http://what-i-learnt-today-blog.blogspot.com/">My Blog</a> - http://what-i-learnt-today-blog.blogspot.com/</h4>
                    <p>My technical blog where I update concepts/techniques that I find useful and interesting.</p>
                    <h4><a href="https://chrome.google.com/webstore/detail/django-doc-helper/pfgmdmnbnlkmlihhbhgpcdanmhbmmldn">Django doc helper</a></h4>
                    <p>A chrome extension to ensure that u read the right version o the django docs every time.</p>
                </div>
            </article>

            <!-- Footer -->
            <footer>

                <a href="/download">Download as PDF</a> | <a href="#" onclick="javascript:window.print();">Print</a> | <a href="#top">To top <i class="icon-arrow-up"></i></a>

            </footer>
    </section>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/main.js"></script>



</body></html>
